/*
  border:
*/
.bdr {
  border: $line solid currentColor;

  /* position utils */
  &--t {
    border: none;
    border-top: $line solid currentColor;
  }

  &--b {
    border: none;
    border-bottom: $line solid currentColor;
  }

  &--l {
    border: none;
    border-left: $line solid currentColor;
  }

  &--r {
    border: none;
    border-right: $line solid currentColor;
  }

  /* color utils */
  &--primary {
    border-color: $primary;
  }

  &--secondary {
    border-color: $secondary;
  }

  &--error {
    border-color: $error;
  }

  &--alert {
    border-color: $alert;
  }

  &--success {
    border-color: $success;
  }

  &--white {
    border-color: $white;
  }

  &--darkwhite,
  &--darkwhite {
    border-color: $darkwhite;
  }

  &--lightgray,
  &--lightgrey {
    border-color: $lightgray;
  }

  &--gray,
  &--grey {
    border-color: $gray;
  }

  &--darkgray,
  &--darkgrey {
    border-color: $darkgray;
  }

  &--black {
    border-color: $black;
  }
}
