/*
  border:
*/
[class*=bdr] {
  border: $line0 solid currentColor;
}

.bdr {

  /* position utils */
  &--t {
    border: none;
    border-top: $line0 solid currentColor;
  }

  &--b {
    border: none;
    border-bottom: $line0 solid currentColor;
  }

  &--l {
    border: none;
    border-left: $line0 solid currentColor;
  }

  &--r {
    border: none;
    border-right: $line0 solid currentColor;
  }

  /* color utils */
  &--primary {
    border-color: $primary;
  }

  &--secondary {
    border-color: $secondary;
  }

  &--error {
    border-color: $error;
  }

  &--alert {
    border-color: $alert;
  }

  &--success {
    border-color: $success;
  }

  &--white {
    border-color: $white;
  }

  &--gray0,
  &--grey0 {
    border-color: $gray0;
  }

  &--gray1,
  &--grey1 {
    border-color: $gray1;
  }

  &--gray2,
  &--grey2 {
    border-color: $gray2;
  }

  &--gray3,
  &--grey3 {
    border-color: $gray3;
  }

  &--black {
    border-color: $black;
  }
}
