/*
  border:
*/
.bdr {
  border: $line solid currentColor;

  /* position utils */
  &--t {
    border: none;
    border-top: $line solid currentColor;
  }

  &--b {
    border: none;
    border-bottom: $line solid currentColor;
  }

  &--l {
    border: none;
    border-left: $line solid currentColor;
  }

  &--r {
    border: none;
    border-right: $line solid currentColor;
  }

  /* color utils */
  &--navy {
    border-color: $navy;
  }

  &--blue {
    border-color: $blue;
  }

  &--aqua {
    border-color: $aqua;
  }

  &--teal {
    border-color: $teal;
  }

  &--olive {
    border-color: $olive;
  }

  &--green {
    border-color: $green;
  }

  &--lime {
    border-color: $lime;
  }

  &--yellow {
    border-color: $yellow;
  }

  &--orange {
    border-color: $orange;
  }

  &--red {
    border-color: $red;
  }

  &--fuchsia,
  &--pink {
    border-color: $fuchsia;
  }

  &--purple {
    border-color: $purple;
  }

  &--maroon {
    border-color: $maroon;
  }

  &--white {
    border-color: $white;
  }

  &--gray,
  &--grey {
    border-color: $gray;
  }

  &--silver {
    border-color: $silver;
  }

  &--black {
    border-color: $black;
  }
}
