/*
 background:
*/
.bg {
  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--error {
    background-color: $error;
  }

  &--alert {
    background-color: $alert;
  }

  &--success {
    background-color: $success;
  }

  &--white {
    background-color: $white;
  }

  &--gray0,
  &--grey0 {
    background-color: $gray0;
  }

  &--gray1,
  &--grey1 {
    background-color: $gray1;
  }

  &--gray2,
  &--grey2 {
    background-color: $gray2;
  }

  &--gray3,
  &--grey3 {
    background-color: $gray3;
  }

  &--black {
    background-color: $black;
  }
}
