/*
 background:
*/
.bg {
  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--error {
    background-color: $error;
  }

  &--alert {
    background-color: $alert;
  }

  &--success {
    background-color: $success;
  }

  &--white {
    background-color: $white;
  }

  &--darkwhite,
  &--darkwhite {
    background-color: $darkwhite;
  }

  &--lightgray,
  &--lightgrey {
    background-color: $lightgray;
  }

  &--gray,
  &--grey {
    background-color: $gray;
  }

  &--darkgray,
  &--darkgrey {
    background-color: $darkgray;
  }

  &--black {
    background-color: $black;
  }
}
