/*
  margin:
*/
@each $size, $i in $ms0, $ms1, $ms2, $ms3, $ms4, $ms5, $ms6 {
  .mg$(i) {
    margin: $ms$(i);

    &--x {
      margin-left: $ms$(i);
      margin-right: $ms$(i);
    }

    &--y {
      margin-bottom: $ms$(i);
      margin-top: $ms$(i);
    }

    &--b {
      margin-bottom: $ms$(i);
    }

    &--l {
      margin-left: $ms$(i);
    }

    &--r {
      margin-right: $ms$(i);
    }

    &--t {
      margin-top: $ms$(i);
    }
  }
}

.mg--auto {
  margin: auto;
}
