/*
  padding:
*/
@each $size, $i in $ms0, $ms1, $ms2, $ms3, $ms4, $ms5, $ms6 {
  .pd$(i) {
    padding: $ms$(i);

    &--x {
      padding-left: $ms$(i);
      padding-right: $ms$(i);
    }

    &--y {
      padding-bottom: $ms$(i);
      padding-top: $ms$(i);
    }

    &--b {
      padding-bottom: $ms$(i);
    }

    &--l {
      padding-left: $ms$(i);
    }

    &--r {
      padding-right: $ms$(i);
    }

    &--t {
      padding-top: $ms$(i);
    }
  }
}
