/*
  text:
*/
.tx {
  /* transform */
  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  /* alignment */
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }

  /* simple size bumps */
  &--lead {
    font-size: $ms4;
    line-height: $leadingTitle;
  }

  &--large {
    font-size: 180%;
  }

  &--small {
    font-size: 50%;
  }

  /* line measue */
  &--measure0 {
    max-width: 24em;
  }

  &--measure1 {
    max-width: 34em;
  }

  &--measure2 {
    max-width: 40em;
  }

  /* display headlines */
  &--display0 {
    font-size: 5rem;
    line-height: $leadingTitle;
    margin: 0;
    max-width: 34em;
    word-break: break-all;
  }

  &--display1 {
    font-size: 6rem;
    line-height: $leadingTitle;
    margin: 0;
    max-width: 34em;
    word-break: break-all;
  }

  /* color utils */
  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }

  &--error {
    color: $error;
  }

  &--alert {
    color: $alert;
  }

  &--success {
    color: $success;
  }

  &--white {
    color: $white;
  }

  &--gray0,
  &--grey0 {
    color: $gray0;
  }

  &--gray1,
  &--grey1 {
    color: $gray1;
  }

  &--gray2,
  &--grey2 {
    color: $gray2;
  }

  &--gray3,
  &--grey3 {
    color: $gray3;
  }

  &--black {
    color: $black;
  }
}
