/*
  container:
*/
[class*=cn] {
  width: 100%;
}

.cn {
  &0 {
    max-width: $xs;
  }

  &1 {
    max-width: $sm;
  }

  &2 {
    max-width: $md;
  }

  &3 {
    max-width: $lg;
  }

  &4 {
    max-width: $xl;
  }
}
