/*
  grid:
*/
.gr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;

  @each $size, $i in $ms0, $ms1, $ms2, $ms3, $ms4, $ms5, $ms6 {

    &--g$(i) {
      margin: -$ms$(i) 0 $ms$(i) -$ms$(i);
      width: calc($ms$(i) + 100%);

      & > .cl {
        padding: $ms$(i) 0 0 $ms$(i);
      }
    }

    @each $bp, $x in --xs, --sm, --md, --lg, --xl {
      @media ($(bp)) {
        &$(bp)-g$(i) {
          margin: -$ms$(i) 0 $ms$(i) -$ms$(i);
          width: calc($ms$(i) + 100%);

          & > .cl {
            padding: $ms$(i) 0 0 $ms$(i);
          }
        }
      }
    }
  }
}
