/*
  check: checkbox & radio inputs
*/

input[type=radio],
input[type=checkbox] {
  font-size: $ms2;
  margin: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:disabled {
    cursor: not-allowed;
  }

  &:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBkPSJNMTIuNjY3IDEuMzMzaC05LjMzM2MtMS4xMDQgMC0yIDAuODk2LTIgMnY5LjMzM2MwIDEuMTA0IDAuODk2IDIgMiAyaDkuMzMzYzEuMTA0IDAgMi0wLjg5NiAyLTJ2LTkuMzMzYzAtMS4xMDQtMC44OTYtMi0yLTJ6TTEzLjMzMyAxMi42NjdjMCAwLjM2Ny0wLjMgMC42NjctMC42NjcgMC42NjdoLTkuMzMzYy0wLjM2NyAwLTAuNjY3LTAuMy0wLjY2Ny0wLjY2N3YtOS4zMzNjMC0wLjM2NyAwLjMtMC42NjcgMC42NjctMC42NjdoOS4zMzNjMC4zNjcgMCAwLjY2NyAwLjMgMC42NjcgMC42Njd2OS4zMzN6Ij48L3BhdGg+Cjwvc3ZnPg==);
    content: '\00a0';
    display: inline-block;
    font-size: inherit;
    vertical-align: middle;
    width: $ms2;
  }

  &:checked:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBkPSJNMTUuODA0IDEuNTI5Yy0wLjI1OC0wLjI1OC0wLjY4My0wLjI1OC0wLjk0MiAwbC02Ljg2MiA2Ljg2Mi0xLjUyOS0xLjUyOWMtMC4yNTgtMC4yNTgtMC42ODMtMC4yNTgtMC45NDIgMHMtMC4yNTggMC42ODMgMCAwLjk0MmwyIDJjMC4xMjkgMC4xMjkgMC4zIDAuMTk2IDAuNDcxIDAuMTk2czAuMzQyLTAuMDY3IDAuNDcxLTAuMTk2bDcuMzMzLTcuMzMzYzAuMjYyLTAuMjU4IDAuMjYyLTAuNjgzIDAtMC45NDJ6Ij48L3BhdGg+CjxwYXRoIGQ9Ik0xNCA3LjMzM2MtMC4zNjcgMC0wLjY2NyAwLjMtMC42NjcgMC42Njd2NC42NjdjMCAwLjM2Ny0wLjMgMC42NjctMC42NjcgMC42NjdoLTkuMzMzYy0wLjM2NyAwLTAuNjY3LTAuMy0wLjY2Ny0wLjY2N3YtOS4zMzNjMC0wLjM2NyAwLjMtMC42NjcgMC42NjctMC42NjdoNy4zMzNjMC4zNjcgMCAwLjY2Ny0wLjMgMC42NjctMC42NjdzLTAuMy0wLjY2Ny0wLjY2Ny0wLjY2N2gtNy4zMzNjLTEuMTA0IDAtMiAwLjg5Ni0yIDJ2OS4zMzNjMCAxLjEwNCAwLjg5NiAyIDIgMmg5LjMzM2MxLjEwNCAwIDItMC44OTYgMi0ydi00LjY2N2MwLTAuMzY3LTAuMy0wLjY2Ny0wLjY2Ny0wLjY2N3oiPjwvcGF0aD4KPC9zdmc+);
  }
}

input[type=radio]:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBkPSJNOCAwLjY2N2MtNC4wNDIgMC03LjMzMyAzLjI5Mi03LjMzMyA3LjMzM3MzLjI5MiA3LjMzMyA3LjMzMyA3LjMzMyA3LjMzMy0zLjI5MiA3LjMzMy03LjMzMy0zLjI5Mi03LjMzMy03LjMzMy03LjMzM3pNOCAxNGMtMy4zMDggMC02LTIuNjkyLTYtNnMyLjY5Mi02IDYtNmMzLjMwOCAwIDYgMi42OTIgNiA2cy0yLjY5MiA2LTYgNnoiPjwvcGF0aD4KPC9zdmc+);
}

input[type=radio]:checked:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBkPSJNOCAwLjY2N2MtNC4wNDIgMC03LjMzMyAzLjI5Mi03LjMzMyA3LjMzM3MzLjI5MiA3LjMzMyA3LjMzMyA3LjMzMyA3LjMzMy0zLjI5MiA3LjMzMy03LjMzMy0zLjI5Mi03LjMzMy03LjMzMy03LjMzM3pNOCAxNGMtMy4zMDggMC02LTIuNjkyLTYtNnMyLjY5Mi02IDYtNmMzLjMwOCAwIDYgMi42OTIgNiA2cy0yLjY5MiA2LTYgNnoiPjwvcGF0aD4KPHBhdGggZD0iTTggNS4zMzNjLTEuNDcxIDAtMi42NjcgMS4xOTYtMi42NjcgMi42NjdzMS4xOTYgMi42NjcgMi42NjcgMi42NjdjMS40NzEgMCAyLjY2Ny0xLjE5NiAyLjY2Ny0yLjY2N3MtMS4xOTYtMi42NjctMi42NjctMi42Njd6TTggOS4zMzNjLTAuNzMzIDAtMS4zMzMtMC42LTEuMzMzLTEuMzMzczAuNi0xLjMzMyAxLjMzMy0xLjMzM2MwLjczMyAwIDEuMzMzIDAuNiAxLjMzMyAxLjMzM3MtMC42IDEuMzMzLTEuMzMzIDEuMzMzeiI+PC9wYXRoPgo8L3N2Zz4=);
}
