/*
  context
*/

/* placeholder */
::placeholder {
  color: inherit;
  opacity:  .5;
}

/* error message */
.err {
  color: $error;
  display: none;
  font-size: 80%;
  margin: $ms 0 0;

  :invalid + & {
    display: block;
  }
}
