/*
  context
*/

/* placeholder */
::placeholder {
  color: inherit;
  opacity: .5;
}

/* helper message */
.hlp {
  display: block;
  font-size: $ms1;
  font-style: italic;
  margin: $ms0 0 0;
  opacity: .75;
}

/* error message */
.err {
  color: $error;
  display: none;
  font-size: $ms1;
  margin: $ms0 0 0;

  :invalid + & {
    display: block;
  }
}
