/*
  fields:
*/

:--txInput,
select,
textarea {
  background-color: $white;
  border: $line0 solid $gray2;
  border-radius: $line1;
  color: $black;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin: $ms0 0 0;
  padding: $ms2 $ms1;
  width: inherit;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:invalid {
    border-color: $error;
    color: $error;
  }

  &:disabled {
    background-color: $gray1;
    border-color: $gray2;
    cursor: not-allowed;
  }
}
