/*
  label:
*/

label {
  display: block;
  font-weight: bold;
  line-height: $leadingTitle;
  margin: 0 0 $ms2;
  width: 100%;

  .group &,
  .gp & {
    margin: 0 $ms0 $ms2;

    &:first-of-type,
    &:last-of-type {
      margin: 0 0 $ms2;
    }
  }
}
