/*
  label:
*/

label {
  display: block;
  line-height: $leadingTitle;
  margin: 0 0 $ms2;
  width: 100%;

  .inline {
    display: inline-block;
    width: 50%;
  }

  /* in groups */
  .gp & {
    margin: 0 0 $ms2 $ms0;

    &:first-of-type {
      margin: 0 0 $ms2;
    }
  }
}
