progress {
  background-color: $gray1;
  border: none;
  display: block;
  height: $line3;
  font-size: 0;
  line-height: 0;
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &[value] {
    color: $primary;
  }

  &::-webkit-progress-bar {
    background-color: $gray1;
  }

  &::-webkit-progress-value {
    background-color: $primary;
  }

  &::-moz-progress-bar {
    background-color: $primary;
  }

}
