input[type=range] {
  margin: $ms2 0 $ms0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  apperance: none;

  /* webkit version */
  &::-webkit-slider-runnable-track {
    background-color: $gray2;
    cursor: pointer;
    height: $line0;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    background-color: $primary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: $ms2;
    margin-top: -$ms0;
    width: $ms2;
    -webkit-appearance: none;
  }

  /* Firefox version */
  &::-moz-range-track {
    background-color: $gray2;
    cursor: pointer;
    height: $line0;
    width: 100%;
  }

  &::-moz-range-thumb {
    background-color: $primary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: $ms2;
    width: $ms2;
  }

  /* IE version */
  &::-ms-track {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: $line0;
    width: 100%;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper,
  &:focus::-ms-fill-lower,
  &:focus::-ms-fill-upper {
    background-color: $gray2;
  }

  &::-ms-thumb {
    background-color: $primary;
    border: $ms2 solid color($black a(0));
    border-radius: 50%;
    cursor: pointer;
    height: $ms2;
    width: $ms2;
  }
}
