/*
  clear button
*/

.btn--clear {
  background-color: transparent;
  border-color: transparent;
  color: $primary;

  &:--enter {
    background-color: transparent;
    color: color($primary shade(35%));
  }

  &.btn--secondary {
    color: $secondary;

    &:--enter {
      color: color($secondary shade(35%));
    }
  }

  &.btn--success {
    color: $success;

    &:--enter {
      color: color($success shade(35%));
    }
  }

  &.btn--alert {
    color: $alert;

    &:--enter {
      color: color($alert shade(35%));
    }
  }

  &.btn--error {
    color: $error;

    &:--enter {
      color: color($error shade(35%));
    }
  }

  &:disabled,
  &:disabled:--enter {
    background-color: transparent;
    border-color: transparent;
    color: $gray3;
  }
}
