/* ===============================================================================
base: selection, everything, body, svg, progress, html5 fix 
=============================================================================== */

/* selection */
::selection {
  background-color: var(--primary);
  color: var(--white);
  text-shadow: none;
}

/* everything: */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

/* body: */
body {
  color: var(--black);
  font: normal normal var(--ms3) / var(--lh) var(--font);
  margin: 0;
}

/* hr: */
hr {
  border: none;
  border-top: var(--line1) solid currentColor;
  color: inherit;
  display: block;
  margin: var(--ms3) 0;
}

/* svg: */
svg {
  stroke: currentColor;
  fill: currentColor;

  &:not(:root) {
    overflow: hidden;
  }
}

/* progress */
progress {
  appearance: none;
  background-color: var(--gray2);
  border: none;
  display: block;
  height: var(--line4);
  font-size: 0;
  line-height: 0;
  width: 100%;

  &[value] {
    color: var(--primary);
  }

  &::-webkit-progress-bar {
    background-color: var(--gray2);
  }

  &::-webkit-progress-value {
    background-color: var(--primary);
  }

  &::-moz-progress-bar {
    background-color: var(--primary);
  }

}

/* html5 fix for IE9: TODO: might not need this! */
article, aside, details, footer,
header, menu, nav, section {
  display: block;
}