/* ===============================================================================
base: selection, everything, body, svg, progress, html5 fix 
=============================================================================== */

/* selection */
::selection {
  background-color: $primary;
  color: $white;
  text-shadow: none;
}

/* everything: */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

/* body: */
body {
  color: $black;
  font: normal normal $ms3 / $lh $font;
  margin: 0;
}

/* hr: */
hr {
  border: none;
  border-top: $line1 solid currentColor;
  color: inherit;
  display: block;
  margin: $ms3 0;
}

/* svg: */
svg {
  stroke: currentColor;
  fill: currentColor;

  &:not(:root) {
    overflow: hidden;
  }
}

/* progress */
progress {
  appearance: none;
  background-color: $gray2;
  border: none;
  display: block;
  height: $line4;
  font-size: 0;
  line-height: 0;
  width: 100%;

  &[value] {
    color: $primary;
  }

  &::-webkit-progress-bar {
    background-color: $gray2;
  }

  &::-webkit-progress-value {
    background-color: $primary;
  }

  &::-moz-progress-bar {
    background-color: $primary;
  }

}

/* html5 fix for IE9: TODO: might not need this! */
article, aside, details, footer,
header, menu, nav, section {
  display: block;
}