/*
  button:
*/
.btn {
  background-color: $primary;
  border: $line solid transparent;
  border-radius: .125rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $ms1;
  font-weight: bold;
  line-height: $leading;
  margin: 0;
  padding: $ms $ms2;
  text-decoration: none;

  -ms-touch-action: manipulation;
  touch-action: manipulation;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:disabled,
  &:disabled:--enter {
    background-color: $gray1;
    border-color: $gray2;
    color: $gray3;
    cursor: not-allowed;
  }

  &:--enter {
    background-color: color($primary shade(25%));
  }

  &--alt {
    background-color: transparent;
    border-color: currentColor;
    color: $primary;

    &:--enter {
      background-color: transparent;
      color: color($primary shade(35%));
    }

    &:disabled,
    &:disabled:--enter {
      background-color: transparent;
      border-color: $gray3;
      color: $black;
    }
  }
}
