/* ===============================================================================
form: label, legend, fieldset, fields, checks, select, textarea, file, range
=============================================================================== */

/* label */
label {
  color: inherit;
  display: block;
  font-size: $ms3;
  line-height: $lhHeader;
  margin: 0 0 $ms3;
  width: 100%;
}

/* legend */
legend {
  color: inherit;
  display: block;
  font-size: $ms4;
  font-weight: bold;
  line-height: $lhHeader;
  margin: 0 0 $ms1;
}

/* fieldset */
fieldset {
  border: $line1 solid currentColor;
  margin: 0 0 $ms3;
  padding: $ms1 $ms3;

  & div {
    display: flex;

    & > label:not(:first-of-type) {
      margin-left: $ms3;
    }
  }
}

/* fields */
:--fields {
  appearance: none;
  background-color: $white;
  border: $line1 solid $gray3;
  border-radius: $line2;
  color: $black;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin: $ms1 0 0;
  padding: $ms3 $ms2;
  touch-action: manipulation;
  width: 100%;

  &:invalid {
    border-color: $error;
    color: $error;
  }

  &:disabled {
    background-color: $gray2;
    border-color: $gray3;
    cursor: not-allowed;
  }
}

/* checks */
input[type=radio],
input[type=checkbox] {
  appearance: none;
  font-size: $ms3;
  margin: 0;
  
  &:disabled {
    cursor: not-allowed;
  }

  &:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBmaWxsPSIjNkI2QjZCIiBkPSJNMTIuNjY3IDEuMzMzaC05LjMzM2MtMS4xMDQgMC0yIDAuODk2LTIgMnY5LjMzM2MwIDEuMTA0IDAuODk2IDIgMiAyaDkuMzMzYzEuMTA0IDAgMi0wLjg5NiAyLTJ2LTkuMzMzYzAtMS4xMDQtMC44OTYtMi0yLTJ6TTEzLjMzMyAxMi42NjdjMCAwLjM2Ny0wLjMgMC42NjctMC42NjcgMC42NjdoLTkuMzMzYy0wLjM2NyAwLTAuNjY3LTAuMy0wLjY2Ny0wLjY2N3YtOS4zMzNjMC0wLjM2NyAwLjMtMC42NjcgMC42NjctMC42NjdoOS4zMzNjMC4zNjcgMCAwLjY2NyAwLjMgMC42NjcgMC42Njd2OS4zMzN6Ij48L3BhdGg+Cjwvc3ZnPg==);
    content: '\00a0';
    display: inline-block;
    font-size: inherit;
    vertical-align: middle;
    width: $ms3;
  }

  &:checked:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBmaWxsPSIjNkI2QjZCIiBkPSJNMTUuODA0IDEuNTI5Yy0wLjI1OC0wLjI1OC0wLjY4My0wLjI1OC0wLjk0MiAwbC02Ljg2MiA2Ljg2Mi0xLjUyOS0xLjUyOWMtMC4yNTgtMC4yNTgtMC42ODMtMC4yNTgtMC45NDIgMHMtMC4yNTggMC42ODMgMCAwLjk0MmwyIDJjMC4xMjkgMC4xMjkgMC4zIDAuMTk2IDAuNDcxIDAuMTk2czAuMzQyLTAuMDY3IDAuNDcxLTAuMTk2bDcuMzMzLTcuMzMzYzAuMjYyLTAuMjU4IDAuMjYyLTAuNjgzIDAtMC45NDJ6Ij48L3BhdGg+CjxwYXRoIGZpbGw9IiM2QjZCNkIiIGQ9Ik0xNCA3LjMzM2MtMC4zNjcgMC0wLjY2NyAwLjMtMC42NjcgMC42Njd2NC42NjdjMCAwLjM2Ny0wLjMgMC42NjctMC42NjcgMC42NjdoLTkuMzMzYy0wLjM2NyAwLTAuNjY3LTAuMy0wLjY2Ny0wLjY2N3YtOS4zMzNjMC0wLjM2NyAwLjMtMC42NjcgMC42NjctMC42NjdoNy4zMzNjMC4zNjcgMCAwLjY2Ny0wLjMgMC42NjctMC42NjdzLTAuMy0wLjY2Ny0wLjY2Ny0wLjY2N2gtNy4zMzNjLTEuMTA0IDAtMiAwLjg5Ni0yIDJ2OS4zMzNjMCAxLjEwNCAwLjg5NiAyIDIgMmg5LjMzM2MxLjEwNCAwIDItMC44OTYgMi0ydi00LjY2N2MwLTAuMzY3LTAuMy0wLjY2Ny0wLjY2Ny0wLjY2N3oiPjwvcGF0aD4KPC9zdmc+);
  }
}

input[type=radio]:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBmaWxsPSIjNkI2QjZCIiBkPSJNOCAwLjY2N2MtNC4wNDIgMC03LjMzMyAzLjI5Mi03LjMzMyA3LjMzM3MzLjI5MiA3LjMzMyA3LjMzMyA3LjMzMyA3LjMzMy0zLjI5MiA3LjMzMy03LjMzMy0zLjI5Mi03LjMzMy03LjMzMy03LjMzM3pNOCAxNGMtMy4zMDggMC02LTIuNjkyLTYtNnMyLjY5Mi02IDYtNmMzLjMwOCAwIDYgMi42OTIgNiA2cy0yLjY5MiA2LTYgNnoiPjwvcGF0aD4KPC9zdmc+);
}

input[type=radio]:checked:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBmaWxsPSIjNkI2QjZCIiBkPSJNOCAwLjY2N2MtNC4wNDIgMC03LjMzMyAzLjI5Mi03LjMzMyA3LjMzM3MzLjI5MiA3LjMzMyA3LjMzMyA3LjMzMyA3LjMzMy0zLjI5MiA3LjMzMy03LjMzMy0zLjI5Mi03LjMzMy03LjMzMy03LjMzM3pNOCAxNGMtMy4zMDggMC02LTIuNjkyLTYtNnMyLjY5Mi02IDYtNmMzLjMwOCAwIDYgMi42OTIgNiA2cy0yLjY5MiA2LTYgNnoiPjwvcGF0aD4KPHBhdGggZmlsbD0iIzZCNkI2QiIgZD0iTTggNS4zMzNjLTEuNDcxIDAtMi42NjcgMS4xOTYtMi42NjcgMi42NjdzMS4xOTYgMi42NjcgMi42NjcgMi42NjdjMS40NzEgMCAyLjY2Ny0xLjE5NiAyLjY2Ny0yLjY2N3MtMS4xOTYtMi42NjctMi42NjctMi42Njd6TTggOS4zMzNjLTAuNzMzIDAtMS4zMzMtMC42LTEuMzMzLTEuMzMzczAuNi0xLjMzMyAxLjMzMy0xLjMzM2MwLjczMyAwIDEuMzMzIDAuNiAxLjMzMyAxLjMzM3MtMC42IDEuMzMzLTEuMzMzIDEuMzMzeiI+PC9wYXRoPgo8L3N2Zz4=);
}

/* select */
select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8cGF0aCBmaWxsPSIjNkI2QjZCIiBkPSJNMTIuNDcxIDUuNTI5Yy0wLjI1OC0wLjI1OC0wLjY4My0wLjI1OC0wLjk0MiAwbC0zLjUyOSAzLjUyOS0zLjUyOS0zLjUyOWMtMC4yNTgtMC4yNTgtMC42ODMtMC4yNTgtMC45NDIgMHMtMC4yNTggMC42ODMgMCAwLjk0Mmw0IDRjMC4xMjkgMC4xMjkgMC4zIDAuMTk2IDAuNDcxIDAuMTk2czAuMzQyLTAuMDY3IDAuNDcxLTAuMTk2bDQtNGMwLjI2Mi0wLjI1OCAwLjI2Mi0wLjY4MyAwLTAuOTQyeiI+PC9wYXRoPgo8L3N2Zz4=);
  background-position: calc(100% - $ms1);
  background-size: $ms4;

  &[multiple] {
    background-image: none;
    padding: 0;

    option {
      padding: $ms1 $ms2;
    }
  }
}

/* textarea */
textarea {
  min-height: 8rem;
  resize: vertical;
}

/* file */
input[type=file] {
  display: block;
  margin: $ms1 0;
  width: 100%;
}

/* range */
input[type=range] {
  margin: $ms3 0 $ms1;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  apperance: none;

  /* webkit version */
  &::-webkit-slider-runnable-track {
    background-color: $gray2;
    cursor: pointer;
    height: $line1;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    background-color: $primary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: $ms3;
    margin-top: -$ms1;
    width: $ms3;
    -webkit-appearance: none;
  }

  /* Firefox version */
  &::-moz-range-track {
    background-color: $gray2;
    cursor: pointer;
    height: $line1;
    width: 100%;
  }

  &::-moz-range-thumb {
    background-color: $primary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: $ms3;
    width: $ms3;
  }

  /* IE version */
  &::-ms-track {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: $line1;
    width: 100%;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper,
  &:focus::-ms-fill-lower,
  &:focus::-ms-fill-upper {
    background-color: $gray2;
  }

  &::-ms-thumb {
    background-color: $primary;
    border: $ms3 solid color($black a(0));
    border-radius: 50%;
    cursor: pointer;
    height: $ms3;
    width: $ms3;
  }
}