/*
  group:
*/
[class*=gp] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gp {

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--full {
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      flex: 1 1 auto;
    }
  }
}
