/* ===============================================================================
media:
=============================================================================== */

audio,
figure,
img,
video {
  border-style: none;
  display: block;
  margin: var(--ms3) 0;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}