/* ===============================================================================
media:
=============================================================================== */

audio,
figure,
img,
video {
  border-style: none;
  display: block;
  margin: 0 0 $ms3;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

/* nested img */
figure img {
  margin: 0;
}
