/* ===============================================================================
table: table, caption, cells, 
=============================================================================== */

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* caption */
caption {
  margin: 0 0 $ms1;
  text-align: left;
}

/* cells */
td,
th {
  border: $line1 solid currentColor;
  padding: $ms1 $ms3;
}

th {
  font-weight: bold;
  text-align: left;
}