/*
  table:
*/

.tb {
  box-shadow:  inset -5px 0px $ms6 -$ms1 color($black a(50%));
  display: block;
  max-width:  100%;
  overflow-x: scroll;
  width: 100%;

  @media (--md) {
    box-shadow: none;
  }
}

table {
  width: 100%;
}

/* data */
td,
th {
  border:  $line solid currentColor;
  padding:  $ms $ms2;
}

th {
  font-weight: bold;
  text-align: left;
}
