/* ===============================================================================
table: table, cells, 
=============================================================================== */

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* cells */
td,
th {
  border: $line1 solid currentColor;
  padding: $ms1 $ms3;
}

th {
  font-weight: bold;
  text-align: left;
}