/* ===============================================================================
type: headers, copy, list, inline, code 
=============================================================================== */

/* headers
=============================================================================== */

/* h1 */
h1 {
  @mixin __header;
  font-size: $ms7;
}

/* h2 */
h2 {
  @mixin __header;
  font-size: $ms6;
}

/* h3 */
h3 {
  @mixin __header;
  font-size: $ms5;
}

/* h4 */
h4 {
  @mixin __header;
  font-size: $ms4;
}

/* h5 */
h5 {
  @mixin __header;
  font-size: $ms3;
}

/* h6 */
h6 {
  @mixin __header;
  font-size: $ms2;
}

/* copy 
=============================================================================== */

/* p */
p {
  margin: 0 0 $ms3;
}

/* figcaption */
figcaption {
  display: block;
  font-size: $ms2;
  font-style: italic;
  margin: $ms1 0 0;
}

/* blockquote */
blockquote {
  border-left: $line1 solid currentColor;
  display: block;
  font-size: $large;
  line-height: $lhHeader;
  margin: 0 0 $ms3;
  padding: 0 0 0 $ms3;
}

/* address */
address {
  font-size: $ms3;
  margin: 0 0 $ms2;
}

/* caption */
caption {
  margin: 0 0 $ms1;
  text-align: left;
}

/* list 
=============================================================================== */

/* unordered & ordered list */
ul,
ol {
  margin: $ms3 0 $ms3 $ms1;
  padding: 0 0 0 $ms3;

  & ul,
  & ol {
    margin: $line4 0;
  }
}

/* list styles */
ul {
  list-style: disc;

  & ul {
    list-style: circle;
  }
}

ol {
  list-style: decimal;
}

/* discription list */
dl {
  margin: $ms3 0 0;

  & dt {
    font-weight: bold;
    margin: 0;
  }

  & dd {
    margin: 0 0 $ms3;
  }
}


/* inline
=============================================================================== */
mark {
  background-color: $alert;
  color: $secondary;
  padding: $line4;
}

small {
  font-size: $small;
}

b,
strong {
  font-weight: bolder;
}

del {
  background-color: $gray1;
  color: $secondary;
  padding: $line4;
}

ins {
  background-color: rgba($alert, .75);
  color: $secondary;
  padding: $line4;
}

i,
em {
  font-style: italic;
}

abbr {
  border-bottom: $line1 dotted $gray3;
  color: $gray3;
  cursor: help;
  text-decoration: none;
}

sub,
sup {
  font-size: $small;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -$line4;
}

sup {
  top: -$ms1;
}

/* code
=============================================================================== */
code {
  @mixin __code;
  display: inline-block;
  font-family: monospace;
  padding: $line2 $ms2;
  word-break: break-all;
}

pre {
  @mixin __code;
  margin: $ms3 0;
  padding: $ms1 0;
  white-space: pre-wrap;
}